﻿body {
}

table {
    border-collapse: collapse;
    empty-cells: show;
}

td {
    position: relative;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.past-due{
    background-color: #D5837A !important;
}

.past-due .btn-link{
    color: #ffffff !important;
}
