﻿<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="~/css/general.css" rel="stylesheet" />
</head>
<body class="container">
    @RenderBody()

    <!-- CDNs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="~/app/app.module.js"></script>

    <!-- Core -->
    <script type="text/javascript" src="~/app/core/app.core.js"></script>
    <script type="text/javascript" src="~/app/services/data.service.js"></script>


    <!-- Widgets -->
    <script type="text/javascript" src="~/app/components/todos.directive.js"></script>
</body>
</html>
