﻿<section>
    <div class="modal-header">
        <h3 class="modal-title">Taks Detail</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="todoEntry">Title:</label>
                <input type="text" ng-model="vm.activeToDo.TaskEntry" class="form-control" id="todoEntry" placeholder="Task Title">
            </div>
            <div class="form-group">
                <label for="todoDetail">Details:</label>
                <textarea ng-model="vm.activeToDo.Details" class="form-control" id="todoDetail" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="todoEntry">Created At:</label>
                <span>{{vm.activeToDo.CreatedAt | date: 'medium'}}</span>
            </div>
            <div class="form-group">
                <label for="todoEntry">Last Modified:</label>
                <span>{{vm.activeToDo.ModifiedAt | date: 'medium'}}</span>
            </div>
            <div class="form-group" ng-init="selectDueDate = false">
                <label for="todoEntry">Due Date:</label>
                
                <button type="button" class="btn btn-link" ng-click="selectDueDate = !selectDueDate">{{vm.activeToDo.DeadlineAt | date: 'medium'}}</button>
                <div ng-show="selectDueDate">
                    <uib-datepicker ng-model="vm.activeToDo.DeadlineAt" class="well well-sm"></uib-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="todoEntry">Completed:</label>
                <input id="ActiveCompleted" type="checkbox" ng-model="vm.activeToDo.IsComplete">
            </div>
        </form>
        <div ng-show="vm.ModelErrorDialog">
            <p class="text-danger">
                Your task title cannot be empty.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="vm.CloseDetailDialog()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.UpdateToDoDialog()">Update</button>
    </div>
</section>