﻿<div class="row">
    <div class="col-md-12">
        <h1>To Do App</h1>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="todo in vm.todos" ng-class="{'strikeout': todo.IsComplete, 'past-due': vm.IsPastDue(todo)}">
                    <td><button type="button" class="btn btn-link btn-sm" ng-click="vm.OpenToDoDetail(todo)">{{todo.TaskEntry}}</button></td>
                    <td >{{todo.DeadlineAt | date: 'medium'}}</td>
                    <td><input type="checkbox" ng-model="todo.IsComplete" ng-change="vm.UpdateToDo(todo)" /></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="vm.DeleteToDo(todo.Key)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="well well-sm">
            <form>
                <div class="form-group">
                    <label for="NewTask">New Task: </label>
                    <input name="NewTask" ng-model="vm.NewTask.TaskEntry" type="text" class="form-control" placeholder="New Task" />
                </div>
                <div class="form-group">
                    <p class="input-group col-md-3">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.NewTask.DeadlineAt" is-open="vm.duedateSelection.opened" datepicker-options="vmdateOptions" close-text="Close" placeholder="Due Date" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.duedateSelection.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="NewDescription">Details: </label>
                    <textarea name="NewDescription" ng-model="vm.NewTask.Details" class="form-control" placeholder="New Details"></textarea>
                </div>
                <div ng-show="vm.ModelErrorInline">
                    <p class="text-danger">
                        Your task title cannot be empty.
                    </p>
                </div>
                <button type="button" class="btn btn-success" ng-click="vm.AddToDo()">Add Task</button>
            </form>
        </div>
    </div>
</div>